---
---

body {
  font-family: "roboto";
  font-weight: 400;
}

header {
  text-align: center;
  h1 {
    font-size: 8em;
    font-weight: 300;
    margin-bottom: 0;
  }
  h2 {
    font-size: 4em;
    font-weight: 300;
  }
}

