---
---

body {
  color: #ffffff;
  background-color: rgb(0, 162, 255);

  font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
}

header {
  text-align: center;
  margin-bottom: 4em;
  h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: -0.5em;
  }
  h2 {
    font-size: 1.75em;
    font-weight: 300;
  }

  @media only screen and (min-width: 480px) {
    font-size: 30px;
  }
  @media only screen and (min-width: 640px) {
    font-size: 40px;
  }
}

div#content {
  text-align: center;
  @media only screen and (min-width: 480px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 640px) {
    font-size: 30px;
  }
}

ul#social {
  display: block;
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
  }
}

a {
  color: #dddddd;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}
