{% extends "base.html" %}

{% block main_content %}
    <div>
        {% block title %}
            {{<post.page_header title={taxonomy.name | capitalize} />}}
        {% endblock title %}

        <main class="tag-list">
            {% set sort_by = config.extra?.taxonomies?.sort_by or "name" %}
            {% set terms = terms or [] | sort(attribute=sort_by) %}

            {% if config.extra?.taxonomies?.reverse %}
                {% set terms = terms | reverse %}
            {% endif %}

            <ul>
                {%- for term in terms %}
                    <li class="post-header">
                        <h2 class="title">
                            <a href={{ term.permalink }}>{{ term.name }}</a>
                        </h2>

                        <small class="meta">{{ term.page_count }} page{{ term.page_count | pluralize }}</small>
                    </li>
                {% endfor -%}
            </ul>
        </main>
    </div>
{% endblock main_content %}
