{% extends "base.html" %}

{% block main_content %}
    {% if section.title %}
        {{<post.page_header title={section.title} />}}
    {% endif %}

    <main class="post-list">
        <ul>
            {%- for page in section.pages %}
                <li class="list-item">
                    <section>
                        <div class="post-header">
                            <div>
                                <h2 class="title">
                                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                                </h2>
                                <div class="meta">
                                    <div class="description">
                                        {{ page.description }}
                                    </div>
                                    <a class="readmore" href="{{ page.permalink | safe }}">
                                        Read more ⟶
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            {% endfor -%}
        </ul>
    </main>
{% endblock main_content %}
